p {
  color: #000000;
  text-align: left;
}
h1{
  font-style : normal;
  font-size: 300%;
}
h3{
  font-style : normal;
  font-size: 150%;
}
a:hover{
  color:#FF0000;
}
a:visited {
  color: #FF00FF;
}

.btn-holder{
width: 250px;
margin-bottom: 50px;
margin: 20px;
}
.btn-1{
  display: block;
  border: none;
  background: #FBB03B;
  padding: 10px 15px;
  color: #fff;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
  outline:none;
  transition: background 1s;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, .2);
}
.btn-1:hover{
  background: #ED1C24;
}
